@using ChatApp.Application.DTO.Chats
@using ChatApp.Application.DTO.Requests
@using ChatApp.Application.Interfaces
@implements IDisposable
<aside class="sidebar">
    <div class="sidebar-header">
        <div class="user-info-wrapper">
            <img src="@(_appStateService?.CurrentUser?.AvatarUrl ?? String.Empty)" class="user-avatar-logged" onclick="@OpenProfile">
            <div class="user-detail">Witaj @(_appStateService?.CurrentUser?.Username ?? String.Empty)</div>
        </div>
        <div class="nav-tabs">
            <button class="@(_sidebarStateService.SidebarView == SidebarView.Contacts ? "active" : "")" @onclick="() => _sidebarStateService.SidebarView = SidebarView.Contacts">
                Kontakty
            </button>
            <button class="@(_sidebarStateService.SidebarView == SidebarView.Invites ? "active" : "")" @onclick="() => _sidebarStateService.SidebarView = SidebarView.Invites">
                Zaproszenia @(PendingInvitesCount > 0 ? $"({PendingInvitesCount})" : "")
            </button>
        </div>
    </div>

    <div class="sidebar-content">
        @switch (_sidebarStateService.SidebarView)
        {
            case SidebarView.Contacts:
                <SideBarChatsContainer/>
                break;
            case SidebarView.Invites:
                <SidebarInvitesContainer/>
                break;
            case SidebarView.AddContact:
                <SidebarAddContact />
                break;
        }
    </div>
    <div class="sidebar-footer">
        @if (_sidebarStateService.SidebarView != SidebarView.AddContact)
        {
            <button class="btn-add-contact" @onclick="() => _sidebarStateService.SidebarView = SidebarView.AddContact">
                <span class="plus-icon">+</span> Dodaj kontakt
            </button>
        }
        else
        {
            <button class="btn-secondary" @onclick="() => _sidebarStateService.SidebarView = SidebarView.Contacts">
                Anuluj i wróć
            </button>
        }
    </div>
</aside>

@code {
    [Parameter] public EventCallback<bool> OnProfileOpen { get; set; }
    private int PendingInvitesCount => _sidebarStateService?.ReceivedInvites?.Count ?? 0;
    protected override async Task OnInitializedAsync()
    {
        _sidebarActionService.OnSidebarStateChanged += HandleStateChange;
        //_sidebarStateService.OnSidebarStateChanged += SidebarStateChanged;
    }
   private void HandleStateChange()
    {
        _ = InvokeAsync(StateHasChanged);
    }

    private async Task OpenProfile()
    {
        await OnProfileOpen.InvokeAsync(true);
    }


    public void Dispose()
    {
        _sidebarActionService.OnSidebarStateChanged -= HandleStateChange;
        // _sidebarStateService.OnSidebarStateChanged -= SidebarStateChanged;
    }
}