@implements IDisposable
@inject ILogger<SideBarChatsContainer> _logger

<div class="contacts-list">
    <div class="search-container">
        <input type="text" class="form-control search-input"
               placeholder="Szukaj na liście..."
               @bind="searchTerm"
               @bind:event="oninput" />
    </div>
    @if (_sidebarStateService.SidebarItems == null || !GetFilteredSidebar().Any())
    {
        <p class="section-hint">Nie znaleziono kontaktów.</p>
    }
    else
    {
        @foreach (var chat in GetFilteredSidebar())
        {
            <div @key="chat.Identity.ChatID"
                 class="contact-item @(_appStateService.SelectedChatId == chat.Identity.ChatID ? "active" : "")"
                 @onclick="async () => await SelectContact(chat.Identity.ChatID)">

                <div class="contact-avatar-container">
                    <img src="@chat.Identity.AvatarUrl" class="contact-img" alt="avatar" />
                </div>

                <div class="contact-info">
                    <div class="contact-header">
                        <p class="contact-name">@chat.Identity.ChatName</p>
                        @if (chat.State.UnreadMessageCount > 0)
                        {
                            <span class="unread-badge">@chat.State.UnreadMessageCount</span>
                        }
                    </div>

                    <p class="contact-last-message @(chat.State.IsArchive ? "is-archive" : "")">
                        @if (chat.State.IsArchive)
                        {
                            <span>🔒 Archiwum</span>
                        }
                        else if (chat.LastMessage?.LastMessageContent != null)
                        {
                            @((chat.LastMessage.LastMessageSender == _appStateService.CurrentUser.Username)
                                            ? $"Ty: {chat.LastMessage.LastMessageContent}"
                                            : $"{chat.LastMessage.LastMessageSender}: {chat.LastMessage.LastMessageContent}")
                        }
                    </p>
                </div>
            </div>
        }
    }
</div>

@code {
    private string searchTerm = "";

    override protected async Task OnInitializedAsync()
    {
        _chatSettingsActionService.OnStateChanged += HandleStateChange;
        _sidebarActionService.OnSidebarStateChanged += HandleStateChange;
        _sidebarStateService.OnStateChanged += HandleStateChange;
    }


    private IEnumerable<UserChatDTO> GetFilteredSidebar()
    {
        var items = _sidebarStateService.SidebarItems;
        if (items == null) return Enumerable.Empty<UserChatDTO>();

        return items.Where(c => string.IsNullOrWhiteSpace(searchTerm) ||
                                c.Identity.ChatName.Contains(searchTerm, StringComparison.OrdinalIgnoreCase));
    }

    private async Task SelectContact(Guid chatId)
    {
        await _appStateService.SetActiveChatAsync(chatId);
        _chatStateService.SettingsView = ChatSettingsView.Settings;
        await _chatActionService.HandleChatLoadAsync(new ContactSelectedArgs(chatId));
        StateHasChanged();
    }
    private void HandleStateChange()
    {
        var count = _sidebarStateService.SidebarItems?.FirstOrDefault()?.State.UnreadMessageCount;
        _logger.LogInformation("Sidebar otrzymał sygnał! Pierwszy licznik: {Count}", count);

        InvokeAsync(StateHasChanged);
    }
    public void Dispose()
    {
        _chatSettingsActionService.OnStateChanged -= HandleStateChange;
        _sidebarActionService.OnSidebarStateChanged -= HandleStateChange;
        _sidebarStateService.OnStateChanged -= HandleStateChange;

    }
}
