@page "/hub"
@using Microsoft.AspNetCore.SignalR.Client
@using ChatApp.ChatServer.Client.Components
@inject IConfiguration Configuration
@inject NavigationManager NavManager
@inject ChatHubService ChatHubService
@inject AppStateService AppState
@implements IDisposable
@inject ILogger<Hub> _logger
<div class="main-layout">
    <ContactsComponent 
        @key="receivedInvites.Count"
        OnSearchRequested="HandleGlobalSearch"
        OnContactInvited="HandleContactInvite"
        OnContactSelected="HandlePrivateChatLoad"
        OnInviteAction="@(args => HandleContactStatus(args.InviteId, args.Status))"
        InitialContacts="receivedContact"
        UsersList="foundUsers"
        InvitesList="receivedInvites"
        IsSearching="isSearchingGlobal"
        isPending="isPending"
        />
       
    <main class="chat-content">
        <TopBarComponent user="@user.Username" />

        @if (!string.IsNullOrEmpty(notification))
        {
            <div class="notification-toast">
                <div>@notification</div>
            </div>
        }
        @if (AppState.CurrentChat != null)
        {
            <div class="chat-container">
                <ChatComponent Title="Czat" Messages="@receivedMessage" />

                <div class="message-input-area">
                    <EditForm Model="@messageModel" OnValidSubmit="HandleSubmit">
                        <DataAnnotationsValidator />
                        <div class="input-group">
                            <InputText disabled="@lockChat" @bind-Value="messageModel.Content" class="form-control" placeholder="Napisz wiadomość..." />
                            <button disabled="@lockChat" type="submit" class="btn-primary">Send</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        }
    </main>
</div>
@code {
    private Guid ActiveChatId;
    private string? notification = string.Empty;
    UserDTO user = new UserDTO();
    private MessageDTO messageModel = new MessageDTO();
    private List<MessageDTO> receivedMessage = new List<MessageDTO>();
    private List<ContactDTO> receivedContact = new List<ContactDTO>();
    private List<InviteDTO> receivedInvites = new List<InviteDTO>();
    private List<UserDTO> foundUsers = new List<UserDTO>();
    private bool isSearchingGlobal = false;
    private void OnInviteStatusReceived(string status) => _ = ShowNotification(status);
    private bool isPending;
    private bool lockChat = true;
    private Guid chatId;
    protected override async Task OnInitializedAsync()
    {
        if(AppState.CurrentUser == null)
        {
            NavManager.NavigateTo("/");
            return;
        };
        user = AppState.CurrentUser;
        notification = AppState.Message;
        if (!string.IsNullOrEmpty(notification))
        {
            AppState.Message = null;
            _ = ShowNotification(notification);
        };

        ChatHubService.ContactReload += HandleContactLoad;
        ChatHubService.InviteReload += HandleInviteLoad;
        ChatHubService.ContactInviteReload += HandleDataReload;
        ChatHubService.OnMessageReceived += HandleReceiveMessage;
        ChatHubService.InviteStatusMessage += OnInviteStatusReceived;
        await ChatHubService.StartAsync();
        try
        {
            await HandleDataReload(true);
        }
        catch(Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }
    private async Task HandleGlobalSearch(string query)
    {
        isSearchingGlobal = true;
        foundUsers = await ChatHubService.GetUsersToInviteAsync(query);
        isSearchingGlobal = false;
        StateHasChanged();
    }
    private async Task ShowNotification(string message, int durationInSeconds = 5)
    {
        notification = message;
        StateHasChanged(); 

        await Task.Delay(durationInSeconds * 1000); 

        notification = string.Empty;
        StateHasChanged(); 
    }
    private async Task HandleDataReload(bool reload)
    {
        if (reload)
        {
            await HandleContactLoad(reload);
            await HandleInviteLoad(reload);
            await InvokeAsync(StateHasChanged);
            _logger.LogInformation($"Data reload triggered for {AppState.CurrentUser.Username}");
        }
    }
    private async Task HandleInviteLoad(bool reload)
    {
        if (true)
        {
            receivedInvites = await ChatHubService.GetInvitesAsync();
            isPending = false;
            await InvokeAsync(StateHasChanged);
            _logger.LogInformation($"Invite reload triggered for user {AppState.CurrentUser.Username}");
        }
    }
    private async Task HandleContactLoad(bool reload)
    {
        if(true)
        {
            receivedContact = await ChatHubService.GetContactsAsync();
            await InvokeAsync(StateHasChanged);

        }

    }
    private async Task HandleContactInvite(Guid contactId)
    {
        await ChatHubService.SendInviteAsync(contactId);
        foundUsers.RemoveAll(u => u.UserID == contactId);
        isSearchingGlobal = false;
    }
    private async Task HandleContactStatus(Guid InviteId,bool Status)
    {
        try
        {
            await ChatHubService.SendInviteActionAsync(InviteId, Status);
        }
        catch (Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }

    private void HandleReceiveMessage(MessageDTO dto)
    {
        receivedMessage.Add(dto);
        InvokeAsync(StateHasChanged);
    }

    private async Task HandleSubmit()
    {
        messageModel.SenderUsername = user.Username;
        messageModel.SenderID = user.UserID;
        messageModel.ChatID = AppState.CurrentChat.ChatID;
        try
        {
            await ChatHubService.SendMessageAsync(messageModel);
            messageModel.Content = string.Empty;
        }
        catch(Exception ex)
        {
            _ = ShowNotification($"{ex.Message}");
        }
    }
    private async Task<ChatDTO> HandleChatLoad(Guid contactId)
    {
        var chat = await ChatHubService.GetChatInformation(contactId);

        if (chat != null)
        {
            chatId = chat.ChatID;
        }

        return chat;
    }
    private async Task HandlePrivateChatLoad(Guid contactId)
    {
        _logger.LogInformation("HandlePrivateChatLoad");
        if (AppState.CurrentChat == null || AppState.CurrentChat.ChatID != chatId)
        {
            lockChat = true;
            var chat = await HandleChatLoad(contactId);
            if (chat == null)
            {
                _logger.LogError("Chat can`t load!");
                lockChat = false;
                return;
            }
            _logger.LogInformation($"Working : {contactId}");
            receivedMessage = await ChatHubService.GetPrivateHistoryAsync(contactId, chat.ChatID);
            AppState.CurrentContact = contactId;
            _logger.LogInformation("Chat loaded");
            AppState.CurrentChat = chat;
            AppState.CurrentChat.ChatID = chatId;
            await InvokeAsync(StateHasChanged);
            lockChat = false;
        }
    }


    public void Dispose()
    {
        ChatHubService.OnMessageReceived -= HandleReceiveMessage;
        ChatHubService.InviteStatusMessage -= OnInviteStatusReceived;
        ChatHubService.InviteReload -= HandleInviteLoad;
        ChatHubService.ContactInviteReload -= HandleDataReload;
        ChatHubService.ContactReload -= HandleContactLoad;
    }
}