@page "/"
@inject IConfiguration Configuration
@inject NavigationManager NavManager
@inject ChatHubService ChatHubService
@inject AppStateService AppState
@implements IDisposable
@if (!string.IsNullOrEmpty(notification))
{
    <div class="notification-toast">
        <div>@notification</div>
    </div>
}
<EditForm Model="@userDTO" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Enter username:</label>
        <InputText @bind-Value="userDTO.Username" class="form-control" disabled="@isProcessing" maxlength="20" />
        <label>Enter password:</label>
        <InputText type="password" @bind-Value="userDTO.Password" class="form-control" disabled="@isProcessing" maxlength="128" />
    </div>

    <button type="submit" class="btn btn-primary mt-2" disabled="@isProcessing">Login</button>
    <a href="/register" class="btn btn-primary mt-2">Register</a>
</EditForm>

@code {
    bool isProcessing = false;
    string? notification = string.Empty;
    override protected async Task OnInitializedAsync()
    {
        notification = AppState.Message;
        AppState.Message = null;
        ChatHubService.LoginStatusMessage += HandleLoginNotification;
        await ChatHubService.StartAsync();
    }
    private UserDTO userDTO = new UserDTO();
    private void HandleLoginNotification(string message,UserDTO user)
    {
        notification = message;
        if (message.Equals("User logged in successfully."))
        {
            AppState.Message = "Logged in successfully!";
            AppState.CurrentUser = user;
            userDTO = new UserDTO();
            NavManager.NavigateTo("/chat");
        }
        isProcessing = false;
        InvokeAsync(StateHasChanged);
    }
    private async Task HandleLogin()
    {
        isProcessing = true;
        try
        {
            await ChatHubService.LoginUserAsync(userDTO);
        }
        catch (Exception ex)
        {
            notification = $"{ex.Message}";
            isProcessing = false;
            InvokeAsync(StateHasChanged);
        }
    }
   public void Dispose()
    {
        ChatHubService.LoginStatusMessage -= HandleLoginNotification;
    }   
}