<Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(ChatApp.ChatServer.Client._Imports).Assembly }">
    <Found Context="routeData">
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>