<div class="contact-settings-panel">
    <div class="settings-content">
        @switch (_currentView)
        {
            case View.Settings:
                <div class="sidebar-header"><h3>Ustawienia</h3></div>
                if (!_chatStateService.IsArchive)
                {
                    <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.ChangeName">Zmień nazwe czatu</button>
                    <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Users">Uczestnicy</button>
                    <button class="btn-secondary" @onclick="_sidebarActionService.HandleLoadContactsAsync">Dodaj osoby</button>


                    @if (!_appStateService.CurrentChat.Identity.IsGroup)
                    {

                        <button class="btn-secondary btn-delete" @onclick='_sidebarActionService.RequestContactDelete'>Usuń kontakt</button>
                    }
                    else
                    {
                        <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.ChangePhoto">Zmień zdjecie grupy</button>
                        <button class="btn-secondary btn-delete" @onclick="_chatSettingsActionService.RequestLeaveChat">Opuść czat</button>
                    }
                }
                @if (_chatStateService.IsArchive)
                {
                    <button class="btn-secondary btn-delete" onclick="_chatSettingsActionService.RequestDeleteChat">Usuń czat</button>
                }
                break;
            case ChatSettingsView.AddUsers:
                <div class="sidebar-header"><h3>Dodaj osoby</h3></div>
                <div class="search-container">
                    <input type="text" class="form-control search-input" placeholder="Szukaj..."
                           @bind="_contactSearchTerm" @bind:event="oninput" />
                </div>
                <div class="search-results">
                    @if (FilteredContacts != null && FilteredContacts.Any())
                    {
                        @foreach (var user in FilteredContacts)
                        {
                            bool isSelected = ContactsToAdd.Contains(user.ContactUserID);
                            <div class="search-result-item @(isSelected ? "selected" : "")"
                                 @onclick="async () => await AddUserToSelectionAsync(user.ContactUserID)">
                                <div class="user-search-info">
                                    <img src="@user.AvatarUrl" class="user-avatar" />
                                    <span>@user.Username</span>
                                </div>
                            </div>
                        }
                    }
                </div>
                @if (ContactsToAdd != null && ContactsToAdd.Any())
                {
                    <button class="btn-add-action" @onclick="async () => { _chatStateService.SettingsView = ChatSettingsView.Settings; await CreateGroupAsync(ContactsToAdd); }">Zatwierdź</button>
                }
                <button class="btn-add-action" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                break;

            case ChatSettingsView.Users:
                <div class="sidebar-header"><h3>Uczestnicy</h3></div>
                @foreach (var user in ExistingUsers)
                {
                    <div class="search-result-item">
                        <div class="user-search-info">
                            <img src="@user.AvatarUrl" class="user-avatar" />
                            <span>@user.Username</span>
                        </div>
                    </div>
                }
                <button class="btn-add-action" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                break;
            case ChatSettingsView.ChangeName:
                <div class="sidebar-header"><h3>Zmień nazwę czatu</h3></div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nowa nazwa czatu..."
                           @bind="_newChatName" />
                </div>
                <button class="btn-primary" @onclick="async () => { _chatStateService.SettingsView = ChatSettingsView.Settings; await HandleChatNameChangeAsync(_newChatName); }">Zatwierdź</button>
                <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                break;
            case ChatSettingsView.ChangePhoto:
                <div class="sidebar-header"><h3>Zmień zdjęcie grupy</h3></div>
                <div class="group-avatar-container">
                <ImageComponent AvatarUrl="@_appStateService.CurrentChat.Identity.AvatarUrl"
                                    Name="@_appStateService.CurrentChat.Identity.ChatName"
                                LabelRole="Grupa"
                                IsGroup="true" />
                <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                </div>

                break;
        }
    </div>
</div>

@code {
        public List<ContactDTO> UserContacts => _chatStateService.ReceivedContacts;
    public HashSet<UserDTO> ExistingUsers => _chatStateService.UsersInChat;
    public HashSet<Guid> ContactsToAdd { get; set; } = new();

    private string _contactSearchTerm = string.Empty;
    private string _newChatName = string.Empty;
    private IEnumerable<ContactDTO> FilteredContacts =>
       UserContacts?.Where(c =>
           (string.IsNullOrWhiteSpace(_contactSearchTerm) ||
            c.Username.Contains(_contactSearchTerm, StringComparison.OrdinalIgnoreCase))
           &&
           !ExistingUsers.Any(u => u.UserID == c.ContactUserID)
       ) ?? Enumerable.Empty<ContactDTO>();
    private async Task AddUserToSelectionAsync(Guid contactId)
    {
        if (ContactsToAdd.Contains(contactId))
        {
            ContactsToAdd.Remove(contactId);
        }
        else
        {
            ContactsToAdd.Add(contactId);
        }
        await Task.CompletedTask;
    }
    private async Task CreateGroupAsync(HashSet<Guid> usersToAdd)
    {
        _chatStateService.SettingsView = ChatSettingsView.Settings;
        await _chatSettingsActionService.HandleCreateGroupChatAsync(usersToAdd);
        ContactsToAdd.Clear();
    }
    private async Task HandleChatNameChangeAsync(string name)
    {
        if (!string.IsNullOrWhiteSpace(name))
        {
            _chatStateService.SettingsView = ChatSettingsView.Settings;
            await _chatSettingsActionService.HandleChangeChatNameAsync(name);
        }
    }

    private async Task HandleChatLeaveAsync()
    {
        //IsSettingsOpen = false;
        await _chatSettingsActionService.HandleChatLeaveAsync();
    }

    private async Task HandleChatDeleteAsync()
    {
        //IsSettingsOpen = false;
        await _chatSettingsActionService.HandleChatDeleteAsync();

    }
}
