@using ChatApp.Domain.Enums
@using System.Net.Http.Headers
@inject AppStateService _appStateService
@inject ImageService _imageService
@inject HttpClient _httpClient
@inject ILogger<ChatInputComponent> _logger

<div class="message-input-area @(IsArchive ? "archived-status" : "")">
    @if (!IsArchive)
    {
    @if (!string.IsNullOrWhiteSpace(_tempImageUrl))
    {
        <div class="chat-preview-container">
            <div class="preview-wrapper">
                <img src="@_tempImageUrl" class="preview-image" />
                <button type="button" class="btn-remove-preview" @onclick="ClearSelectedPhoto">✕</button>
            </div>
        </div>
        }
        <div class="input-group">
            <input type="text"
                    @key="_inputFileKey"
                   class="form-control"
                   placeholder="Napisz wiadomość..."
                   disabled="@IsLocked"
                   @bind="_messageContent"
                   @bind:event="oninput"
                   @onkeydown="HandleKeyDownAsync" />

                <InputFile id="chat-image-icon" OnChange="OnImageSend"
                           style="display:none;" accept=".jpg,.jpeg,.png,.jfif" />
                <label for="chat-image-icon" disabled="@_isUploading" class="chat-image-icon">
                🖼️
                </label>
            <EmojiComponent
                OnEmojiSelect="HandleAddEmojiToInput" />
                    <button class="btn-primary"
                    disabled="@(IsLocked || (string.IsNullOrWhiteSpace(_messageContent) && _sendedPhoto == null))"
                    @onclick="HandleSendMessage">
                Wyślij
            </button>
        </div>
    }
    else
    {
        <div class="archived-message">
            🔒 Czat jest zarchiwizowany. Możliwość pisania została zablokowana.
        </div>
    }
</div>

@code {

    [Parameter] public bool IsLocked { get; set; } = false;
    [Parameter] public bool IsArchive { get; set; } = false;
    private bool _isUploading = false;
    private string _tempImageUrl = string.Empty;
    private string _messageContent = string.Empty;
    private IBrowserFile _sendedPhoto = null;
    private Guid _inputFileKey = Guid.NewGuid();
    private void ClearSelectedPhoto()
    {
        _sendedPhoto = null;
        _tempImageUrl = string.Empty;
        _inputFileKey = Guid.NewGuid(); 
    }
    private async Task HandleKeyDownAsync(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !IsLocked && (!string.IsNullOrWhiteSpace(_messageContent) || _sendedPhoto != null))
        {
            await HandleSendMessage();
        }
    }

    public async Task OnImageSend(InputFileChangeEventArgs e)
    {
        try
        {
            _sendedPhoto = await _imageService.GetBrowserFileAsync(e);
            if (_sendedPhoto == null) return;
            var base64 = await _imageService.GetImageStringAsync(_sendedPhoto);
            _tempImageUrl = $"data:{_sendedPhoto.ContentType};base64,{base64}";

        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Błąd podczas przetwarzania obrazu.");
        }
        finally
        {
            await InvokeAsync(StateHasChanged);
        }
    }
    private void HandleAddEmojiToInput(string emoji)
    {
        _messageContent += " " + emoji;
    }
    private async Task HandleSendMessage()
    {
        var contentToSend = _messageContent;
        if (_appStateService.CurrentChat == null) return;
        var chatId = _appStateService.CurrentChat.Identity.ChatID;
        if (string.IsNullOrWhiteSpace(contentToSend) && _sendedPhoto == null) return;

            var newMessage = new MessageDTO
        {
            Content = contentToSend ?? string.Empty,
            imageUrl = string.Empty,
                SenderUsername = _appStateService.CurrentUser.Username,
            ChatID = chatId,
                SenderID = _appStateService.CurrentUser.UserID,
            SentAt = DateTime.UtcNow,
            MessageID = Guid.CreateVersion7(),
            MessageType = MessageType.Text
        };

        try
        {
            _httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", _appStateService.CurrentUser?.Token);
            if(_sendedPhoto != null)
            {
                _isUploading = true;
                byte[] fileData = await _imageService.GetFileDataAsync(_sendedPhoto);
                var imageUrl = await _imageService
                .UploadImageAsync
                (
                    fileData,
                    _sendedPhoto.Name,
                    _appStateService.CurrentUser.Token,
                    UploadType.ChatImage,
                    chatId
                );
                newMessage.imageUrl = imageUrl;
                _tempImageUrl = string.Empty;
                newMessage.MessageType = MessageType.Image;
            }
            var response = await _httpClient.PostAsJsonAsync("api/message", newMessage);
            if (!response.IsSuccessStatusCode)
            {
                var error = await response.Content.ReadAsStringAsync();
                _logger.LogError("Failed to send message. Server returned {Status}: {Error}", response.StatusCode, error);
                _messageContent = contentToSend; 
                return;
            }

            _messageContent = string.Empty;
            ClearSelectedPhoto();
            await InvokeAsync(StateHasChanged);

        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "Error sending message");
            _messageContent = contentToSend;
        }
        finally
        {
            _isUploading = false;
            await InvokeAsync(StateHasChanged);

        }
    }
}