@inject IJSRuntime JSRuntime
@inject AppStateService AppState

<div class="chat-main-wrapper @(_isSettingsOpen ? "show-settings" : "")">

    @if (_showConfirm)
    {
        <ConfirmDialog Title="@_confirmTitle"
                       Message="@_confirmMessage"
                       OnClose="HandleConfirm" />
    }
    <div class="chat-content">
        <div class="top-bar">
            <div class="user-profile">
                <div class="avatar-wrapper">
                    <img src="@AppState.CurrentUser.AvatarUrl" class="user-avatar" alt="Avatar" />
                    <div class="status-dot online"></div>
                </div>
                <div class="user-info-text">
                    <span class="user-name">@AppState.CurrentChat.ChatName</span>
                </div>
            </div>

            <div class="contact-config" @onclick="ToggleSettings">⚙️</div>
        </div>

        <div class="chat-container">
            <div class="chat-box" id="chat-window">
                <div class="chat-messages">
                    @if (Messages != null && Messages.Any())
                    {
                        @foreach (var msg in Messages)
                        {
                            <div class="message">
                                <span class="message-time">[@msg.SentAt.ToString("HH:mm")]</span>
                                <span class="message-user">@msg.SenderUsername:</span>
                                <span class="message-content">@msg.Content</span>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="no-messages">Brak wiadomości. Przywitaj się!</div>
                    }
                </div>
            </div>

            <div class="message-input-area @(IsArchive ? "archived-status" : "")">
                @if (!IsArchive)
                {
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Napisz wiadomość..."
                               disabled="@IsLocked" @bind="_content" @bind:event="oninput" @onkeydown="HandleKeyDown" />
                        <button class="btn-primary"
                                disabled="@(IsLocked || string.IsNullOrWhiteSpace(_content))"
                                @onclick="HandleInternalSubmit">
                            Wyślij
                        </button>
                    </div>
                }
                else
                {
                    <div class="archived-message">
                        🔒 Czat jest zarchiwizowany. Możliwość pisania została zablokowana.
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="contact-settings-panel">
        <div class="settings-content">
            @switch (currentView)
            {
                case View.Settings:
                    <div class="sidebar-header"><h3>Ustawienia</h3></div>
                    if (!IsArchive)
                    {
                        <button class="btn-secondary" @onclick="() => currentView = View.Users">Uczestnicy</button>
                        <button class="btn-secondary" @onclick="async () => { currentView = View.AddUsers; await LoadContact(); }">Dodaj osoby</button>

                        @if (!AppState.CurrentChat.IsGroup)
                        {
                            <button class="btn-secondary btn-delete" @onclick='() => OpenConfirmDialog("Usuwanie", "Czy na pewno?", HandleContactDelete)'>Usuń kontakt</button>
                        }
                        else
                        {
                            <button class="btn-secondary btn-delete" @onclick='() => OpenConfirmDialog("Opuszczanie", "Czy na pewno?", HandleChatLeave)'>Opuść czat</button>
                        }
                    }
                    <button class="btn-secondary btn-delete" @onclick='() => OpenConfirmDialog("Usuwanie", "Czy na pewno chcesz usunąć? Ta zmiana jest nieodwracalna!", HandleChatDelete)'>Usuń czat</button>
                    break;
                case View.AddUsers:
                    <div class="sidebar-header"><h3>Dodaj osoby</h3></div>
                    <div class="search-container">
                        <input type="text" class="form-control search-input" placeholder="Szukaj..."
                               @bind="contactSearchTerm" @bind:event="oninput" />
                    </div>
                    <div class="search-results">
                        @if (FilteredContacts != null && FilteredContacts.Any())
                        {
                            @foreach (var user in FilteredContacts)
                            {
                                bool isSelected = ContactsToAdd.Contains(user.ContactUserID);
                                <div class="search-result-item @(isSelected ? "selected" : "")"
                                     @onclick="async () => await AddUserToList(user.ContactUserID)">
                                    <div class="user-search-info">
                                        <img src="@user.AvatarUrl" class="user-avatar" />
                                        <span>@user.Username</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <button class="btn-add-action" @onclick="async () => { currentView = View.Settings; await CreateGroup(ContactsToAdd); }">Zatwierdź</button>
                    <button class="btn-add-action" @onclick="() => currentView = View.Settings">Cofnij</button>
                    break;

                case View.Users:
                    <div class="sidebar-header"><h3>Uczestnicy</h3></div>
                    @foreach (var user in ExistingUsers)
                    {
                        <div class="search-result-item">
                            <div class="user-search-info">
                                <img src="@user.AvatarUrl" class="user-avatar" />
                                <span>@user.Username</span>
                            </div>
                        </div>
                    }
                    <button class="btn-add-action" @onclick="() => currentView = View.Settings">Cofnij</button>
                    break;
            }
        </div>
    </div>
</div>

@code {
    #region Parameters
    [Parameter] public EventCallback OnAddUserTriggered { get; set; }
    [Parameter] public EventCallback<HashSet<Guid>> OnAddUserClick { get; set; }
    [Parameter] public EventCallback<string> OnSendMessage { get; set; }
    [Parameter] public EventCallback OnDeleteContact { get; set; }
    [Parameter] public EventCallback OnChatLeave { get; set; }
    [Parameter] public EventCallback OnChatDelete { get; set; }
    [Parameter] public EventCallback<bool> LockSidebar { get; set; }

    [Parameter] public List<MessageDTO> Messages { get; set; } = new();
    [Parameter] public List<ContactDTO> userContacts { get; set; } = new();
    [Parameter] public HashSet<Guid> ContactsToAdd { get; set; } = new();
    [Parameter] public HashSet<UserDTO> ExistingUsers { get; set; } = new();
    [Parameter] public bool IsLocked { get; set; }
    [Parameter] public bool IsArchive { get; set; }
    #endregion
    #region Variables
    private string contactSearchTerm = "";
    private string _content = string.Empty;
    private bool _isSettingsOpen = false;
    private bool _addWindow = false;
    private bool _isSelected = false;
    private bool _showConfirm;
    private string _confirmTitle = "";
    private string _confirmMessage = "";
    private Func<Task> _onConfirmAction;
    private enum View { Settings, AddUsers, Users }
    private View currentView = View.Settings;
    #endregion

    private void ToggleSettings() => _isSettingsOpen = !_isSettingsOpen;

    private void OpenConfirmDialog(string title, string message, Func<Task> action)
    {
        _confirmTitle = title;
        _confirmMessage = message;
        _onConfirmAction = action;
        _showConfirm = true;
        StateHasChanged();
    }
    private async Task HandleKeyDown(KeyboardEventArgs keyClick)
    {
        if (keyClick.Key == "Enter")
        {
            await HandleInternalSubmit();
        }
    }

    private IEnumerable<ContactDTO> FilteredContacts =>
    userContacts?.Where(c =>
        (string.IsNullOrWhiteSpace(contactSearchTerm) ||
         c.Username.Contains(contactSearchTerm, StringComparison.OrdinalIgnoreCase))
        &&
        !ExistingUsers.Any(u => u.UserID == c.ContactUserID)
    ) ?? Enumerable.Empty<ContactDTO>();
    private async Task AddUserToList(Guid contactId)
    {
        if(ContactsToAdd.Contains(contactId))
        {
            ContactsToAdd.Remove(contactId);
        }
        else
        {
            ContactsToAdd.Add(contactId);
        }
    }
    private async Task CreateGroup(HashSet<Guid> UserToAdd)
    {
        await OnAddUserClick.InvokeAsync(UserToAdd);
        ContactsToAdd.Clear();
    }
    public async Task LoadContact()
    {
        await OnAddUserTriggered.InvokeAsync();
    }
    private async Task HandleContactDelete()
    {
            _isSettingsOpen = false;
            await OnDeleteContact.InvokeAsync();
    }
    private async Task HandleChatLeave()
    {
            _isSettingsOpen = false;
            await OnChatLeave.InvokeAsync();

    }
    private async Task HandleChatDelete()
    {
        _isSettingsOpen = false;
        await OnChatDelete.InvokeAsync();

    }
    private async Task HandleInternalSubmit()
    {
        if (!string.IsNullOrWhiteSpace(_content) && !IsArchive)
        {
            var messageToSend = _content;
            _content = string.Empty;
            await OnSendMessage.InvokeAsync(messageToSend);
        }
    }
    private async Task HandleConfirm(bool result)
    {
        _showConfirm = false;
        if (result && _onConfirmAction != null)
        {
            await _onConfirmAction.Invoke();
            StateHasChanged();
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("scrollToBottom", "chat-window");
    }
}