@using ChatApp.Domain.Enums
@inject IJSRuntime JSRuntime
@inject AppStateService AppState
@inject ChatSettingsService SettingsService
@implements IDisposable;

<div class="chat-main-wrapper @(SettingsService.IsSettingsOpen ? "show-settings" : "")">

    @if (_showConfirm)
    {
        <ConfirmDialog Title="@_confirmTitle"
                       Message="@_confirmMessage"
                       OnClose="HandleConfirmAsync" />
    }

    <div class="chat-content">
        <div class="top-bar">
            <div class="user-profile-top">
                <div class="avatar-wrapper-top">       
                    <img src="@AppState.CurrentChat.Identity.AvatarUrl" class="user-avatar" alt="Avatar" />
                    <div class="status-dot online"></div>
                </div>
                <div class="user-info-text-top">
                    <span class="user-name">@AppState.CurrentChat.Identity.ChatName</span>
                </div>
            </div>
            <div class="contact-config" @onclick="SettingsService.ToggleSettings">⚙️</div>
        </div>

        <div class="chat-body">
            <div class="chat-box" id="chat-window">
                <div class="chat-messages">
                    @if (Messages != null && Messages.Any())
                    {
                        @foreach (var msg in Messages)
                        {
                            var isMine = msg.SenderUsername == AppState.CurrentUser.Username;
                            <div class="message @(msg.MessageType == MessageType.System ? "system" : "") @(isMine ? "mine" : "")">
                                @if (msg.MessageType != MessageType.System && !isMine)
                                {
                                <span class="message-time">[@msg.SentAt.ToString("HH:mm")]</span>
                                <span class="message-user">@msg.SenderUsername:</span>
                                }
                                    <span class="message-content">@msg.Content</span>
                                </div>
                        }
                    }
                </div>
            </div>
            <ChatInputComponent 
                IsLocked="IsLocked" 
                IsArchive="IsArchive" />
        </div>
    </div>
    <ChatSettingsComponent/>
</div>

@code {
    [Parameter] public List<MessageDTO> Messages { get; set; } = new();
    [Parameter] public bool IsLocked { get; set; }
    [Parameter] public bool IsArchive { get; set; }

    private bool _showConfirm = false;
    private string _confirmTitle = string.Empty;
    private string _confirmMessage = string.Empty;
    private Func<Task>? _onConfirmAction;

    protected override async Task OnInitializedAsync()
    {
        SettingsService.OnConfirmationActionRequested += OpenConfirmDialog;
    }
    private Task OpenConfirmDialog(string title, string message, Func<Task> action)
    {
        _confirmTitle = title;
        _confirmMessage = message;
        _onConfirmAction = action;
        _showConfirm = true;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task HandleConfirmAsync(bool result)
    {
        _showConfirm = false;
        if (result && _onConfirmAction != null)
        {
            await _onConfirmAction.Invoke();
            await InvokeAsync(StateHasChanged);

        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("scrollToBottom", "chat-window");
    }
    public void Dispose()
    {
        SettingsService.OnConfirmationActionRequested -= OpenConfirmDialog;
    }
}
