@using ChatApp.Application.DTO.Chats
@using ChatApp.Domain.Enums
@inject AppStateService AppStateService
@inject ChatHubService ChatHubService
@inject ImageService ImageService
@inject ILogger<ImageComponent> Logger
<div class="profile-wrapper">
    <div class="avatar-wrapper">
        @if (ImageService.TempImageUrl != string.Empty)
        {
            <img src="@ImageService.TempImageUrl" alt="avatarTemp" />
        }
        else
        {
            <img src="@AvatarUrl" alt="avatar" />
        }
        <span class="online-badge"></span>
    </div>
    <p class="profile-username">@Name</p>
    <p class="profile-role">@LabelRole</p>
    <div class="profile-divider"></div>
    <div class="avatar-upload-container">
        <InputFile id="avatar-upload" OnChange="OnInputFileChange"
                   style="display:none;" accept=".jpg,.jpeg,.png,.jfif" />
        <label for="avatar-upload" disabled="@ImageService.isUploading" class="user-profile-icon">
            <p class="user-icon">Wybierz plik</p>
        </label>
        @if (ImageService.SelectedFile != null)
        {
            <button disabled="@ImageService.isUploading" class="btn-upload" @onclick="HandleSaveClick">
                @(ImageService.isUploading ? "Przesyłanie..." : "Zapisz zmiany")
            </button>
            <span class="file-name">Wybrano: @ImageService.SelectedFile.Name</span>
        }
    </div>
</div>

@code {
    [Parameter] public string AvatarUrl { get; set; } = string.Empty;
    [Parameter] public string Name { get; set; } = string.Empty;
    [Parameter] public string LabelRole { get; set; } = string.Empty;
    [Parameter] public bool IsGroup { get; set; } = false;
    public async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        try
        {
            await ImageService.ProcessSelectedFileAsync(e);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Błąd podczas przetwarzania obrazu.");
        }
        finally
        {
            StateHasChanged();
        }
    }
    private async Task HandleSaveClick()
    {
        if (ImageService.SelectedFile == null) return;
        try
        {
            var uploadType = UploadType.UserAvatar;
            Guid? targetId = null;
            if (IsGroup)
            {
                uploadType = UploadType.GroupAvatar;
                targetId = AppStateService.CurrentChat.Identity.ChatID;
            }
                await ImageService
            .UploadImageAsync
            (
                AppStateService.CurrentUser.Token,
                uploadType,
                targetId
            );
            
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Błąd podczas przesyłania obrazu.");
            ImageService.isUploading = false;
        }
        finally
        {
            ImageService.isUploading = false;
            StateHasChanged();
        }
    }
    }
