@implements IDisposable
<div class="contact-settings-panel">
    <div class="settings-content">
        @switch (_chatStateService.SettingsView)
        {
            case ChatSettingsView.Settings:
                <div class="sidebar-header"><h3>Ustawienia</h3></div>
                if (!_chatStateService.IsArchive)
                {
                    <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Users">Uczestnicy</button>



                    @if (!_appStateService.CurrentChat.Identity.IsGroup)
                    {
                        <button class="btn-secondary" @onclick="@(async () => { _type = AddType.Private; await _chatSettingsActionService.HandleLoadUsersToAddAsync(); })">Dodaj osoby</button>
                        <button class="btn-secondary btn-delete" @onclick=' () => _chatSettingsActionService.RequestContactDelete(_appStateService.CurrentChat.Identity.ChatID)'>Usuń kontakt</button>
                    }
                    else
                    {
                        <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.ChangeName">Zmień nazwe czatu</button>
                        <button class="btn-secondary" @onclick="@(async () => { _type = AddType.Group; await _chatSettingsActionService.HandleLoadUsersToAddAsync(); })">Dodaj osoby</button>
                        <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.ChangePhoto">Zmień zdjecie grupy</button>
                        <button class="btn-secondary btn-delete" @onclick="_chatSettingsActionService.RequestLeaveChat">Opuść czat</button>
                    }
                }
                @if (_chatStateService.IsArchive)
                {
                   // <button class="btn-secondary btn-delete" onclick="_chatSettingsActionService.RequestDeleteChat">Usuń czat</button>
                }
                break;
            case ChatSettingsView.AddUsers:
                <div class="sidebar-header"><h3>Dodaj osoby</h3></div>
                <div class="search-container">
                    <input type="text" class="form-control search-input" placeholder="Szukaj..."
                           @bind="_contactSearchTerm" @bind:event="oninput" />
                </div>
                <div class="search-results">
                    @if (FilteredContacts != null && FilteredContacts.Any())
                    {
                        @foreach (var user in FilteredContacts)
                        {
                            bool isSelected = ContactsToAdd.Contains(user.ContactUserID);
                            <div @key="user.ContactUserID" class="search-result-item @(isSelected ? "selected" : "")"
                                 @onclick="async () => await AddUserToSelectionAsync(user.ContactUserID)">
                                <div class="user-search-info">
                                    <img src="@user.AvatarUrl" class="user-avatar" />
                                    <span>@user.Username</span>
                                </div>
                            </div>
                        }
                    }
                </div>
                @if (ContactsToAdd != null && ContactsToAdd.Any())
                {
                    <button class="btn-add-action" @onclick="async () => { _chatStateService.SettingsView = ChatSettingsView.Settings; await AddUserToGroupAsync(ContactsToAdd); }">Zatwierdź</button>
                }
                <button class="btn-add-action" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                break;

            case ChatSettingsView.Users:
                <div class="sidebar-header"><h3>Uczestnicy</h3></div>
                @foreach (var user in _chatStateService.UsersInChat)
                {
                    <button @key="user.UserID" class="users-in-chat-button" @onclick="async () => await _chatSettingsActionService.OpenUserDetails(user.UserID,user.Alias,user.Username)">
                        <div class="users-in-chat-detail">
                            <img src="@user.AvatarUrl" class="user-avatar" />
                            <span>@(!string.IsNullOrEmpty(user.Alias) ? user.Alias : user.Username)</span>
                        </div>
                    </button>
                }
                <button class="btn-add-action" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                break;
            case ChatSettingsView.ChangeName:
                <div class="sidebar-header"><h3>Zmień nazwę czatu</h3></div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nowa nazwa czatu..."
                           @bind="_newChatName" />
                </div>
                <button class="btn-primary" @onclick="async () => { _chatStateService.SettingsView = ChatSettingsView.Settings; await HandleChatNameChangeAsync(_newChatName); }">Zatwierdź</button>
                <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                break;
            case ChatSettingsView.ChangePhoto:
                <div class="sidebar-header"><h3>Zmień zdjęcie grupy</h3></div>
                <div class="group-avatar-container">
                <ImageComponent AvatarUrl="@_appStateService.CurrentChat.Identity.AvatarUrl"
                                    Name="@_appStateService.CurrentChat.Identity.ChatName"
                                LabelRole="Grupa"
                                IsGroup="true" />
                <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Users">Cofnij</button>
                </div>
                break;
            case ChatSettingsView.UserDetails:
            <div class="user-details-wrapper">
                <div class="sidebar-header"><h3>Szczegóły użytkownika</h3></div>
                <div class="users-chat-detail">
                    <img src="@SelectedUser?.AvatarUrl" class="avatar-wrapper" />
                    <h4>@(SelectedUser?.Alias ?? _chatStateService.CurrentAlias)</h4>
                
                    @if (HasVisibleUsername)
                    {
                        <span class="username-sub">@_chatStateService.CurrentUsername</span>
                    }
                </div>
            </div>

            <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.ChangeAlias">Zmień alias</button>
        
            @if (CanManageSelectedUser)
            {
                <button class="btn-secondary @(SelectedUserIsAdmin ? "btn-delete" : "")" 
                        @onclick="() => HandleAdminFlagActionAsync(!SelectedUserIsAdmin)">
                    @(SelectedUserIsAdmin ? "Zabierz admina" : "Nadaj admina")
                </button>
                <button class="btn-secondary btn-delete" @onclick="_chatSettingsActionService.RequestUserRemove">Usuń użytkownika</button>
            }
        
            <button class="btn-add-action" @onclick="_chatSettingsActionService.CloseUserDetails">Cofnij</button>
        break;
            case ChatSettingsView.ChangeAlias:
                 <div class="search-container">
                <input type="text" class="form-control" placeholder="Nowa nazwa użytkownika..."
                       @bind="_newAlias" />
                       </div>
                <button class="btn-add-action" @onclick="async () => await HandleAliasChangeAsync()">Zatwierdź</button>
                <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.UserDetails">Cofnij</button>
                break;
        }
    </div>
</div>

@code {
    private const int MinAliasLen = 3;
    private const int MaxAliasLen = 50;
    private UserDTO? SelectedUser => _chatStateService.CurrentUserDetails;
    public List<ContactDTO> UserContacts => _chatStateService.ReceivedContacts;
    private bool HasVisibleUsername => !string.IsNullOrEmpty(SelectedUser?.Alias) &&
                                        SelectedUser?.Alias != _chatStateService.CurrentUsername;
    private bool CanManageSelectedUser =>
_appStateService.CurrentChat.Identity.IsGroup &&
_appStateService.CurrentChat.State.IsAdmin &&
_appStateService.CurrentUser?.UserID != SelectedUser?.UserID;
    private bool SelectedUserIsAdmin => SelectedUser?.IsAdmin ?? false;
    private bool IsAliasValid(string alias) =>
        !string.IsNullOrWhiteSpace(alias) && alias.Length is >= MinAliasLen and <= MaxAliasLen;
    public HashSet<Guid> ContactsToAdd { get; set; } = new();
    private string _contactSearchTerm = string.Empty;
    private string _newChatName = string.Empty;
    private string _newAlias = string.Empty;
    private AddType _type;
    private IEnumerable<ContactDTO> FilteredContacts =>
       UserContacts?.Where(c =>
           (string.IsNullOrWhiteSpace(_contactSearchTerm) ||
            c.Username.Contains(_contactSearchTerm, StringComparison.OrdinalIgnoreCase))
           &&
           !_chatStateService.UsersInChat.Any(u => u.UserID == c.ContactUserID)
       ) ?? Enumerable.Empty<ContactDTO>();
    protected override async Task OnInitializedAsync()
    {
        _chatStateService.OnStateChanged += HandleStateChanged;
        _chatSettingsActionService.OnStateChanged += HandleStateChanged;
    }
    private async Task AddUserToSelectionAsync(Guid contactId)
    {
        if (ContactsToAdd.Contains(contactId))
        {
            ContactsToAdd.Remove(contactId);
        }
        else
        {
            ContactsToAdd.Add(contactId);
        }
        await Task.CompletedTask;
    }
    private async Task AddUserToGroupAsync(HashSet<Guid> usersToAdd)
    {
        _chatStateService.SettingsView = ChatSettingsView.Settings;
        await _chatSettingsActionService.HandleAddUsersToChatAsync(usersToAdd,_type);
        ContactsToAdd.Clear();
    }
    private async Task HandleChatNameChangeAsync(string name)
    {
        if (!string.IsNullOrWhiteSpace(name))
        {
            _chatStateService.SettingsView = ChatSettingsView.Settings;
            await _chatSettingsActionService.HandleChangeChatNameAsync(name);
        }
    }
    private async Task HandleContactDeleteAsync()
    {

        _chatSettingsActionService.RequestContactDelete(_appStateService.CurrentChat.Identity.ChatID);

    }
    private async Task HandleAdminFlagActionAsync(bool flag)
    {
        try
        {
            var identity = _appStateService.CurrentChat.Identity;
            Guid chatId = identity.ChatID;
            Guid userId = _chatStateService.CurrentUserDetails.UserID;

            await _chatApiClient.ChangeAdminFlagAsync(chatId, userId, flag);
            var selectedUser = _chatStateService.UsersInChat.FirstOrDefault(u => u.UserID == userId);
            selectedUser?.IsAdmin = flag;
            StateHasChanged();
        }
        catch(Exception ex)
        {
            throw new Exception($"{ex}");
        }
        StateHasChanged();
    }
    private async Task HandleAliasChangeAsync()
{
    try
    {
            if (!IsAliasValid(_newAlias))
            {
                _notificationService.Notify($"Alias musi mieć {MinAliasLen}-{MaxAliasLen} znaków", NotificationType.Warning);
                return;
            }

        var identity = _appStateService.CurrentChat.Identity;
        Guid chatId = identity.ChatID;
        Guid adminId = _appStateService.CurrentUser.UserID;
        var targetUserId = _chatStateService.CurrentUserDetails.UserID;
        
        string adminName = _appStateService.CurrentChat.Identity.Alias; 

        await _chatApiClient.ChangeUserAliasAsync(chatId, adminId, _newAlias, adminName, targetUserId, _chatStateService.CurrentAlias);

            var userInList = _chatStateService.UsersInChat.FirstOrDefault(u => u.UserID == targetUserId);
        if (userInList != null)
        {
            userInList.Alias = _newAlias;
        }

        _chatStateService.CurrentAlias = _newAlias;

        if (targetUserId == adminId)
        {
            identity.Alias = _newAlias;
        }
        else if (!identity.IsGroup && targetUserId == identity.OtherUserId)
        {
            identity.OtherUserAlias = _newAlias;
            identity.ChatName = _newAlias;
        }

        _newAlias = string.Empty;
        _chatStateService.SettingsView = ChatSettingsView.UserDetails;
        
        StateHasChanged(); 
        
    }
    catch (Exception ex)
    {
        _notificationService.Notify($"Błąd podczas zmiany aliasu: {ex.Message}", NotificationType.Error);
    }
}
    private async Task HandleChatLeaveAsync()
    {
        await _chatSettingsActionService.HandleChatLeaveAsync();
    }
    private async Task HandleChatDeleteAsync()
    {
        await _chatSettingsActionService.HandleChatDeleteAsync();

    }
    private void HandleStateChanged()
    {
        InvokeAsync(StateHasChanged); 
    }
    public void Dispose()
    {
        _chatStateService.OnStateChanged -= HandleStateChanged;
        _chatSettingsActionService.OnStateChanged -= HandleStateChanged;
    }
}
