<div class="contact-settings-panel">
    <div class="settings-content">
        @switch (_chatStateService.SettingsView)
        {
            case ChatSettingsView.Settings:
                <div class="sidebar-header"><h3>Ustawienia</h3></div>
                if (!_chatStateService.IsArchive)
                {
                    <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.ChangeName">Zmień nazwe czatu</button>
                    <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Users">Uczestnicy</button>



                    @if (!_appStateService.CurrentChat.Identity.IsGroup)
                    {
                        <button class="btn-secondary" @onclick="@(async () => { _type = AddType.Private; await _chatSettingsActionService.HandleLoadUsersToAddAsync(); })">Dodaj osoby</button>
                        <button class="btn-secondary btn-delete" @onclick=' () => _chatSettingsActionService.RequestContactDelete(_appStateService.CurrentChat.Identity.ChatID)'>Usuń kontakt</button>
                    }
                    else
                    {
                        <button class="btn-secondary" @onclick="@(async () => { _type = AddType.Group; await _chatSettingsActionService.HandleLoadUsersToAddAsync(); })">Dodaj osoby</button>
                        <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.ChangePhoto">Zmień zdjecie grupy</button>
                        <button class="btn-secondary btn-delete" @onclick="_chatSettingsActionService.RequestLeaveChat">Opuść czat</button>
                    }
                }
                @if (_chatStateService.IsArchive)
                {
                    <button class="btn-secondary btn-delete" onclick="_chatSettingsActionService.RequestDeleteChat">Usuń czat</button>
                }
                break;
            case ChatSettingsView.AddUsers:
                <div class="sidebar-header"><h3>Dodaj osoby</h3></div>
                <div class="search-container">
                    <input type="text" class="form-control search-input" placeholder="Szukaj..."
                           @bind="_contactSearchTerm" @bind:event="oninput" />
                </div>
                <div class="search-results">
                    @if (FilteredContacts != null && FilteredContacts.Any())
                    {
                        @foreach (var user in FilteredContacts)
                        {
                            bool isSelected = ContactsToAdd.Contains(user.ContactUserID);
                            <div @key="user.ContactUserID" "class="search-result-item @(isSelected ? "selected" : "")"
                                 @onclick="async () => await AddUserToSelectionAsync(user.ContactUserID)">
                                <div class="user-search-info">
                                    <img src="@user.AvatarUrl" class="user-avatar" />
                                    <span>@user.Username</span>
                                </div>
                            </div>
                        }
                    }
                </div>
                @if (ContactsToAdd != null && ContactsToAdd.Any())
                {
                    <button class="btn-add-action" @onclick="async () => { _chatStateService.SettingsView = ChatSettingsView.Settings; await AddUserToGroupAsync(ContactsToAdd); }">Zatwierdź</button>
                }
                <button class="btn-add-action" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                break;

            case ChatSettingsView.Users:
                <div class="sidebar-header"><h3>Uczestnicy</h3></div>
                @foreach (var user in ExistingUsers)
                {
                    <button @key="user.UserID" class="users-in-chat-button" @onclick="() => OpenUserDetails(user.UserID,user.Username)">
                        <div class="users-in-chat-detail">
                            <img src="@user.AvatarUrl" class="user-avatar" />
                            <span>@(!string.IsNullOrEmpty(user.Alias) ? user.Alias : user.Username)</span>
                        </div>
                    </button>
                }
                <button class="btn-add-action" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                break;
            case ChatSettingsView.ChangeName:
                <div class="sidebar-header"><h3>Zmień nazwę czatu</h3></div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nowa nazwa czatu..."
                           @bind="_newChatName" />
                </div>
                <button class="btn-primary" @onclick="async () => { _chatStateService.SettingsView = ChatSettingsView.Settings; await HandleChatNameChangeAsync(_newChatName); }">Zatwierdź</button>
                <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Settings">Cofnij</button>
                break;
            case ChatSettingsView.ChangePhoto:
                <div class="sidebar-header"><h3>Zmień zdjęcie grupy</h3></div>
                <div class="group-avatar-container">
                <ImageComponent AvatarUrl="@_appStateService.CurrentChat.Identity.AvatarUrl"
                                    Name="@_appStateService.CurrentChat.Identity.ChatName"
                                LabelRole="Grupa"
                                IsGroup="true" />
                <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.Users">Cofnij</button>
                </div>
                break;
            case ChatSettingsView.UserDetails:
                <div class="sidebar-header"><h3>Szczegóły użytkownika</h3></div>
                <div class="user-details-info">
                    <img src="@(ExistingUsers.FirstOrDefault(u => u.UserID == _currentUserDetails)?.AvatarUrl)" class="user-avatar-large" />
                    <h4>@(ExistingUsers.FirstOrDefault(u => u.UserID == _currentUserDetails)?.Alias ?? _currentUsername)</h4>
                    @if (!string.IsNullOrEmpty(ExistingUsers.FirstOrDefault(u => u.UserID == _currentUserDetails)?.Alias) && ExistingUsers.FirstOrDefault(u => u.UserID == _currentUserDetails)?.Alias != _currentUsername)
                    {
                        <span class="username-sub">(@_currentUsername)</span>
                    }
                </div>
                <button class="btn-secondary" @onclick="() => _chatStateService.SettingsView = ChatSettingsView.ChangeAlias">Zmień alias</button>
                <button class="btn-add-action" @onclick="CloseUserDetails">Cofnij</button>
                break;
            case ChatSettingsView.ChangeAlias:
                <input type="text" class="form-control" placeholder="Nowa nazwa użytkownika..."
                       @bind="_newAlias" />
                <button class="btn-add-action" @onclick="async () => await HandleAliasChangeAsync()">Zatwierdź</button>

                break;
        }
    </div>
</div>

@code {
    public List<ContactDTO> UserContacts => _chatStateService.ReceivedContacts;
    public HashSet<UserDTO> ExistingUsers => _chatStateService.UsersInChat;
    public HashSet<Guid> ContactsToAdd { get; set; } = new();
    private string _contactSearchTerm = string.Empty;
    private string _newChatName = string.Empty;
    private string _newAlias = string.Empty;
    private string _currentUsername = string.Empty;
    private Guid _currentUserDetails;
    private AddType _type;
    private IEnumerable<ContactDTO> FilteredContacts =>
       UserContacts?.Where(c =>
           (string.IsNullOrWhiteSpace(_contactSearchTerm) ||
            c.Username.Contains(_contactSearchTerm, StringComparison.OrdinalIgnoreCase))
           &&
           !ExistingUsers.Any(u => u.UserID == c.ContactUserID)
       ) ?? Enumerable.Empty<ContactDTO>();
    private async Task AddUserToSelectionAsync(Guid contactId)
    {
        if (ContactsToAdd.Contains(contactId))
        {
            ContactsToAdd.Remove(contactId);
        }
        else
        {
            ContactsToAdd.Add(contactId);
        }
        await Task.CompletedTask;
    }
    private async Task AddUserToGroupAsync(HashSet<Guid> usersToAdd)
    {
        _chatStateService.SettingsView = ChatSettingsView.Settings;
        await _chatSettingsActionService.HandleAddUsersToChatAsync(usersToAdd,_type);
        ContactsToAdd.Clear();
    }
    private async Task HandleChatNameChangeAsync(string name)
    {
        if (!string.IsNullOrWhiteSpace(name))
        {
            _chatStateService.SettingsView = ChatSettingsView.Settings;
            await _chatSettingsActionService.HandleChangeChatNameAsync(name);
        }
    }
    private async Task HandleContactDeleteAsync()
    {

        _chatSettingsActionService.RequestContactDelete(_appStateService.CurrentChat.Identity.ChatID);

    }
    private void OpenUserDetails(Guid userId,string username)
    {
        _currentUsername = username;
        _currentUserDetails = userId;
        _chatStateService.SettingsView = ChatSettingsView.UserDetails;
    }
    private void CloseUserDetails()
    {
        _currentUserDetails = Guid.Empty;
        _currentUsername = string.Empty;
        _chatStateService.SettingsView = ChatSettingsView.Users;
    }
    private async Task HandleAliasChangeAsync()
    {
        try
        {

            Guid chatId = _appStateService.CurrentChat.Identity.ChatID;
            _chatStateService.SettingsView = ChatSettingsView.UserDetails;
            Guid adminId = _appStateService.CurrentUser.UserID;
            string adminName = _appStateService.CurrentUser.Username;
            await _chatApiClient.ChangeUserAliasAsync(chatId, adminId, _newAlias, adminName, _currentUserDetails, _currentUsername);
            
            // Jeśli zmieniamy alias aktualnie zalogowanego użytkownika
            if (_currentUserDetails == _appStateService.CurrentUser.UserID)
            {
                _appStateService.CurrentChat.Identity.Alias = _newAlias;
            }
            // Jeśli to czat prywatny i zmieniamy alias drugiej osoby
            else if (!_appStateService.CurrentChat.Identity.IsGroup && _currentUserDetails == _appStateService.CurrentChat.Identity.OtherUserId)
            {
                _appStateService.CurrentChat.Identity.OtherUserAlias = _newAlias;
                _appStateService.CurrentChat.Identity.ChatName = _newAlias;
            }
            
            _newAlias = string.Empty;
        }
        catch(Exception ex)
        {
            throw new Exception($"[ChatSettings] {ex.Message}");
        }
    }
    private async Task HandleChatLeaveAsync()
    {
        //IsSettingsOpen = false;
        await _chatSettingsActionService.HandleChatLeaveAsync();
    }

    private async Task HandleChatDeleteAsync()
    {
        //IsSettingsOpen = false;
        await _chatSettingsActionService.HandleChatDeleteAsync();

    }
}
