@using ChatApp.Domain.Enums
@implements IDisposable;

<div class="chat-main-wrapper @(_chatStateService.IsSettingsOpen ? "show-settings" : "")">

    @if (_dialogService.IsVisible)
    {
        <ConfirmDialog Title="@_dialogService.Title"
                       Message="@_dialogService.Message"
                       OnClose="OnDialogClose" />
    }

    <div class="chat-content">
       <Topbar/>
        <div class="chat-body">
            <div @ref="chatContainer" class="chat-box" id="chat-window">
                <div class="chat-messages">
                    @if (_chatStateService.ReceivedMessages != null && _chatStateService.ReceivedMessages.Any())
                    {
                        @foreach (var msg in _chatStateService.ReceivedMessages)
                        {
                            <div @key="msg.MessageID"
                            class="message 
                            @(IsSystem(msg) ? "system" : "") 
                            @(IsMyMessage(msg) ? "mine" : "")">
                                @if (!IsSystem(msg) && !IsMyMessage(msg))
                                {
                                <div class="message-info">
                                <span class="message-time">[@msg.SentAt.ToString("HH:mm")]</span>
                                @if(_appStateService.CurrentChat.Identity.IsGroup)
                                        {
                                        <span class="message-user">@_appStateService.CurrentChat.Identity.OtherUserAlias:</span>
                                        }
                                        else
                                        {
                                            <span class="message-user">@_appStateService.CurrentChat.Identity.ChatName:</span>

                                        }
                                    </div>
                                }
                                <div class="message-body">
                                @if (HasImage(msg.imageUrl))
                                {
                                    <img src="@msg.imageUrl" class="chat-image" />
                                }
                                @if(HasText(msg.Content))
                                {
                                    <span class="message-content">@msg.Content</span>
                                }
                                </div>
                                </div>
                        }
                    }
                </div>
            </div>
            <ChatInput/>
        </div>
    </div>
    @if(!_appStateService.CurrentChat.State.IsArchive)
    {
    <ChatSettings/>   
    }
</div>

@code {
    private ElementReference chatContainer;
    private Guid chatId => _appStateService.CurrentChat?.Identity.ChatID ?? Guid.Empty;
    protected override async Task OnInitializedAsync()
    {
        SubscribeToEvent();
        await _chatActionService.HandleUserOnGroupLoadAsync(chatId);
    }
    private void SubscribeToEvent()
    {
        _dialogService.OnStateChanged += HandleStateChanged;
        _chatStateService.OnStateChanged += HandleStateChanged;
        _chatActionService.OnStateChanged += HandleStateChanged;
        _chatSettingsActionService.OnStateChanged += HandleStateChanged;
    }
    private void UnsubscribeToEvent()
    {
        _dialogService.OnStateChanged -= HandleStateChanged;
        _chatStateService.OnStateChanged -= HandleStateChanged;
        _chatActionService.OnStateChanged -= HandleStateChanged;
        _chatSettingsActionService.OnStateChanged -= HandleStateChanged;
    }
    private async void HandleStateChanged()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task OnDialogClose(bool result)
    {
        await _dialogService.HandleClose(result);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JSRuntime.InvokeVoidAsync("setupSmartScroll", chatContainer);
            await Task.Delay(100);
            await JSRuntime.InvokeVoidAsync("scrollToElement", chatContainer);
        }
    }
    private bool IsMyMessage(MessageDTO msg) => msg.SenderUsername == _appStateService.CurrentUser?.Username;
    private bool IsSystem(MessageDTO msg) => msg.MessageType == MessageType.System;
    private bool HasImage(string msg) => !string.IsNullOrWhiteSpace(msg);
    private bool HasText(string msg) => !string.IsNullOrWhiteSpace(msg);
    public void Dispose()
    {
        UnsubscribeToEvent();
    }
}
