﻿@using ChatApp.Application.DTO.Chats
@using ChatApp.Domain.Enums
@inject ILogger<ImageComponent> Logger
<div class="image-wrapper @CustomClass">
    <label for="avatar-upload" class="avatar-wrapper @(isUploading ? "disabled" : "")">
        @if (_tempAvatarUrl != string.Empty)
        {
            <img src="@_tempAvatarUrl" alt="avatarTemp" />
        }
        else
        {
            <img src="@AvatarUrl" alt="avatar" />
        }
        <div class="avatar-overlay">
            <span class="avatar-overlay-icon">&#9998;</span>
        </div>
    </label>
    <InputFile id="avatar-upload" OnChange="OnInputFileChange"
               style="display:none;" accept=".jpg,.jpeg,.png,.jfif"
               disabled="@isUploading" />
    <p class="image-username">@Name</p>
    <p class="image-role">@LabelRole</p>
    <div class="image-divider"></div>
    <div class="avatar-upload-container @CustomClass">
        @if (selectedFile != null)
        {
            <button disabled="@isUploading" class="btn-upload" @onclick="HandleSaveClick">
                @(isUploading ? "Przesyłanie..." : "Zapisz zmiany")
            </button>
        }
    </div>
</div>

@code {
    [Parameter] public string AvatarUrl { get; set; } = string.Empty;
    [Parameter] public string Name { get; set; } = string.Empty;
    [Parameter] public string LabelRole { get; set; } = string.Empty;
    [Parameter] public bool IsGroup { get; set; } = false;
    [Parameter] public string CustomClass { get; set; } = "";
    private IBrowserFile? selectedFile;
    private bool isUploading = false;
    public enum PhotoType { Private, Group };
    private string _tempAvatarUrl { get; set; } = string.Empty;
    private Guid _uploadKey = Guid.NewGuid();
    public async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        try
        {
            selectedFile = await _imageService.GetBrowserFileAsync(e);
            var base64 = await _imageService.GetImageStringAsync(selectedFile);
            _tempAvatarUrl = $"data:{selectedFile.ContentType};base64,{base64}";
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Błąd podczas przetwarzania obrazu.");
        }
        finally
        {
            StateHasChanged();
        }
    }
    private async Task HandleSaveClick()
    {
        if (selectedFile == null) return;
        try
        {
            isUploading = true;
            var fileData = await _imageService.GetFileDataAsync(selectedFile);
            var uploadType = UploadType.UserAvatar;
            Guid? targetId = null;
            if (IsGroup)
            {
                uploadType = UploadType.GroupAvatar;
                targetId = _appStateService.CurrentChat.Identity.ChatID;
            }
            await _imageService
        .UploadImageAsync
        (
            fileData,
            selectedFile.Name,
            _appStateService.CurrentUser.Token,
            uploadType,
            targetId
        );

        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Błąd podczas przesyłania obrazu.");
            isUploading = false;
        }
        finally
        {
            selectedFile = null;
            isUploading = false;
            await InvokeAsync(StateHasChanged);
        }
    }
}